body{
margin: 0;

    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
}
.hero-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    padding: 11% ;
    background-size: cover; 
}
.hero-title {
    color: white;
    text-align: center;
    
}
.hero-title h1{
    font-size: 50px;
}
.hero-title p{
    margin-bottom: 30px;
}
.donate-button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 30px ;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
/*donate area*/
.custom-donate{
    align-items: center;
    padding: 7%;
}
.donate-now{
    text-align: center;
}
.donate-now h1{
    font-size: 40px;
    font-weight: 700;
}
.donate-now p{
    color: #dedede;
    margin-bottom: 60px;
}
.donate-amount{
   margin-bottom: 60px;
    
}
.donate-amount span{
    background-color: #f7f7f7e1;
    color: #c0bbbb;
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
    margin-left: 20px;
}
#fixed-color{
    background-color: #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 3px;

}

.placeholder{
    border: none;
}
.hr-width{
   border-top: 1px solid #dfdfdf;
    width:50%;
    margin-bottom: 30px;
}

.donate-plan-amir {
    padding: 2% 10% 5% 10%;
}

.donate-plan-div {
    text-align: center;
    margin-bottom: 70px;
}

.donate-plan-div h1 {
    font-size: 40px;
    font-weight: 700;
}

.donate-plan-div p {
    color: #949494;
}

.flex-amir {
    display: flex;
}

.flex-amir div {
    padding: 2%;
    margin-left: 15px;
    border-radius: 1%;
}

.icon-box-food {
    background-color: #EDF5F6;
}

.icon-box-shelter {
    background-color: #FFEEEE;
}

.icon-box-child {
    background-color: #FFF4D6;
}

.image-area-bonus{
    display: flex; 
    
      
}
.vua{
    border-radius: 10px;
}

.vua img{
    width: 80%;
    margin-left: 25%;
    border-radius: 5%;
   
}


.text-area-bonus{
margin-left: 80px;
width: 50%;
}
.text-area-bonus h1{
    font-size: 40px;
}
.text-area-bonus p{
    margin-bottom: 40px;
}


.get-update {
    padding: 1% 10% 10% 10%;
}

.Subscribe-divison {
    text-align: center;
}

.Subscribe-divison h1 {
    font-size: 40px;
    font-weight: 700;
}

.email-area {
    padding: 6%;
    background-color: #FFF4D6;
}

.input-email {
    border: none;
    background-color: #cec7c7;
    padding: 13px 10px 15px 10px;
    border-radius: 2%;
    font-size: 15px;
}

.input-sub {
    color: white;
    border: none;
    background-color: #FF5959;
    padding: 15px 10px 16px 15px;
    border-radius: 2%;
    font-size: 13px;
    margin: -4px;
}


.footer-section {
    font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color: #0B0D17;
    padding: 3%;
}

.footer h1 {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: #FF5959;
    margin-bottom: 0;
}

.footer p {
    color: #FFFFFF;
    font-weight: 100;
}